<section class="product-description-container">
  <form
    [formGroup]="productForm"
    class="product-description-container__form"
    (ngSubmit)="handleSubmit()"
    >
    <fieldset class="form-group">
      <label for="productName">
        <span class="required-field">*</span>Nome do Produto</label>

      <input
      id="productName"
      required
      title="Digite em poucas palavras, uma descrição para o produduto"
      class="form-control"
      [ngClass]="productForm.controls['name'].touched && productForm.controls['name'].invalid ? 'invalid-field' : ''"
      type="text"
      formControlName="name"
      />

      <span
        class="error-message"
        *ngIf="validate().isInvalid('name') && productForm.controls['name'].touched">
        O nome do produto é Obrigatório
      </span>
    </fieldset>

    <fieldset class="form-group">
      <label for="productCategory">
        <span class="required-field">*</span>Categoria</label >

      <input
      id="productCategory"
      required
      title="Digite qual categoria este produto pertence"
      class="form-control"
      [ngClass]="productForm.controls['category'].touched && productForm.controls['category'].invalid ? 'invalid-field' : ''"
      type="text"
      formControlName="category"
      />

      <span
        class="error-message"
        *ngIf="validate().isInvalid('category') && productForm.controls['category'].touched">
        A categoria do produto é Obrigatória
      </span>
    </fieldset>

    <fieldset class="form-group">
      <label for="productInfo">Informações Adicionais</label>
      <textarea
        id="productInfo"
        placeholder="Digite alguma informação adicional..."
        class="form-control"
        maxlength="200"
        (input)="countCharacters()"
        formControlName="info"
        >
      </textarea>
        <span>{{charTotal + "/200"}}</span>
    </fieldset>
    <fieldset class="form-group btn-container">
      <button class="btn-submit" type="submit">Enviar</button>
      <button class="btn-clear" type="button" (click)="handleClear()">Limpar</button>
    </fieldset>
  </form>
</section>
