@import '../../../../styles/variables';
@import '../../../../styles/mixins';

$clr-tomato: #ff6347;

.product-description-container {
  @include flex(column);
  align-items: center;

  padding-top: 5rem;

  &__form {
    @include flex(column);
    gap: $s-4 * 2;
    align-items: flex-start;

    width: clamp(310px, 80vw, 800px);

    margin-inline: auto;

    padding-block: 5rem;

    & .required-field , .erro-message {
      color: $clr-tomato;
    }

    & .error-message {
      padding-left: $s-3;
    }

    & .invalid-field {
      box-shadow: $shadow-red !important;
    }

    @media(min-width: 1099px) {
    padding-block: 2rem;
    }

    & .form-group {
      @include flex(column);
      align-items: flex-start;
      justify-content: center;
      font-size: $fs-body;

      & label {
        display: block;
        width: 100%;

        padding-left: $s-1;
        padding-bottom: $s-1;

        font-size: $fs-body;
        text-align: left;
      }

      & input {
        width: 250px;
        padding: $s-2;
        font-size: $fs-body;
        box-shadow: $shadow-gray;

        &:focus-visible {
          outline: unset;
          box-shadow: $shadow-blue;
        }
      }

      & textarea {
        width: clamp(300px, 80vw, 500px);
        height: 150px;
        padding: $s-2;
        resize: none;
        box-shadow: $shadow-gray;

        &:focus-visible {
          outline: unset;
          box-shadow: $shadow-blue;
        }
      }
    }

    .btn-container {
      display: flex;
      justify-content: space-between;
      flex-direction: row;

      width: 150px;

      & button {
        color: $clr-white;
        padding: $s-2;

        @media (min-width: 768px) {
          &:hover {
            letter-spacing: 2px;
            transform: scale(1.1);
            transition: all 0.3s ease;
          }
        }

        &:active {
          box-shadow: $shadow-blue;
        }
      }

      & .btn-submit {
        background-color: $clr-brand;
      }

      & .btn-clear {
        background-color: #FFA732;
      }
    }

  }
}
