/* Colors  */
$clr-brand: #2b2a4c;
$clr-white-rock: #ebe3d5;
$clr-white: #fff6f6;

/* ----------- // ----------- */

/* Fonts  */

/* Families */
$ff-saira: 'Saira Extra Condensed', sans-serif;
$ff-ubuntu: 'Ubuntu Mono', monospace;

/* Weights */
$fw-regular: 400;
$fw-bold: 700;

/* Sizes  */
$fs-base: 16px;
$fs-body: 1.125rem;
$fs-small: 0.875rem;

$fs-display-1: 3rem;

$fs-heading-4: $fs-base * 1.25;
$fs-heading-3: $fs-heading-4 * 1.2;
$fs-heading-2: $fs-heading-3 * 1.2;
$fs-heading-1: $fs-heading-2 * 1.2;
/* ----------- // ----------- */

/* Spacing  */
$s-1: 0.25rem;
$s-2: 0.5rem;
$s-3: 0.75rem;
$s-4: 1rem;
/* ----------- // ----------- */

/* Effects  */
$shadow-gray: 0 4px 16px #CCCCCC;
$shadow-blue: 0 4px 16px #29ADB2;
$shadow-red: 0 4px 16px #F00000;
/* ----------- // ----------- */
