@import "../../../../styles/variables" ;
@import "../../../../styles/mixins" ;

.result {
  width: clamp(300px,80vw, 800px);

  @include flex(column);
  align-items: start;

  padding: $s-2;

  margin-bottom: 4rem;
  margin-inline: auto;

  &__content {
    background-color: $clr-white;

    padding: $s-1;
    line-height: $s-4 * 1.3;
    outline: .5px solid #CCCCCC;
    box-shadow: $shadow-gray;
  }
}

.spinner {
  --mdc-circular-progress-active-indicator-color: #2b2a4c;
  width: 2rem !important;
  margin-inline: auto;
}
